@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-mint;
  @apply text-sm;
}

a {
 @apply underline; 
}

.no-underline-links a {
  @apply no-underline;
}

ol {
  list-style: decimal;
  margin-left: 1.5em;
}

/* Kanske lite tramsigt, isf ändra till list-style disc */
ul {
  list-style: image-set(url("favicon.ico") 16x);
  margin-left: 1.5em;
}

ul.no-bullet {
  list-style: none;
}

h1 {
  @apply text-4xl font-bold;
}

h2 {
  @apply text-xl font-bold;
}

h3 {
  @apply text-lg font-bold;
}

h4 {
  @apply text-2xl font-bold;
}

p, a, li {
  @apply text-sm lg:text-lg;
}

.hl-text {
  @apply text-coral;
}