@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-mint;
  @apply text-sm;
}

a {
 @apply underline; 
}

.no-underline-links a {
  @apply no-underline;
}

ol {
  list-style: decimal;
  margin-left: 1.5em;
}

/* Kanske lite tramsigt, isf ändra till list-style disc */
ul {
  list-style: image-set(url("favicon.ico") 16x);
  margin-left: 1.5em;
}

ul.no-bullet {
  list-style: none;
}

h1 {
  @apply text-4xl font-bold;
}

h2 {
  @apply text-xl font-bold;
}

h3 {
  @apply text-lg font-bold;
}

h4 {
  @apply text-2xl font-bold;
}

p, a, li {
  @apply text-sm lg:text-lg;
}

.hl-text {
  @apply text-coral;
}

.blob-clip-path {
  clip-path: path("M94.1,282C37,399.9-26.3,530.1,11.4,624.3c36.8,93.7,175.1,150.5,316.1,167,c140.1,16,282.8-8.3,381.6-92.5C808.2,615.4,864,471.9,841,350S717,128.5,605.3,66.2S372.1-20.5,285.7,19.4,C200.2,59.8,150.5,164.3,94.1,282z");
}

.test-clip-path {
  clip-path: circle(50% at 50% 50%);
}